---
http_interactions:
- request:
    method: post
    uri: https://coda.io/apis/v1beta1/docs
    body:
      encoding: UTF-8
      string: '{"title":"Untitled","sourceDoc":null,"timezone":"America/Los_Angeles","folderId":null}'
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"124-EbNCVTw1uGnWnCYJOwd4Ov3PZ6E"
    body:
      encoding: UTF-8
      string: '{"id":"Yuypr0WRkq","type":"doc","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq","browserLink":"https://coda.io/d/_dYuypr0WRkq","name":"Untitled","owner":"ojewaleolaide@gmail.com","ownerName":"ojewale
        olaide","createdAt":"2020-01-09T23:23:09.301Z","updatedAt":"2020-01-09T23:23:09.370Z"}'
  recorded_at: Thu, 09 Jan 2020 23:23:09 GMT
recorded_with: VCR 5.0.0
