---
http_interactions:
- request:
    method: get
    uri: https://coda.io/apis/v1beta1/whoami
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-v5w1043CMi3UFQLFJFK6vL7/hmE"
    body:
      encoding: UTF-8
      string: '{"name":"ojewale olaide","loginId":"ojewaleolaide@gmail.com","type":"user","href":"https://coda.io/apis/v1beta1/whoami","tokenName":"gem-api-token","scoped":false}'
  recorded_at: Thu, 09 Jan 2020 23:23:08 GMT
recorded_with: VCR 5.0.0
