---
http_interactions:
- request:
    method: get
    uri: https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ee-AUZXyd7mN1BruHvxYQNGh7a0mfE"
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"grid-7wlFDEirg4","type":"table","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4","browserLink":"https://coda.io/d/_dYuypr0WRkq#_tugrid-7wlFDEirg4","name":"Test
        Table 1","parent":{"id":"canvas-rkGK12KYgt","type":"section","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/sections/canvas-rkGK12KYgt","browserLink":"https://coda.io/d/_dYuypr0WRkq/_suYgt","name":"Section
        1"}}],"href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables?limit=100"}'
  recorded_at: Thu, 09 Jan 2020 23:54:11 GMT
recorded_with: VCR 5.0.0
