---
http_interactions:
- request:
    method: get
    uri: https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ff-fiW1uG7zNWxOzsUNsyevjzpIuuA"
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"c-BWoZD1pDLj","type":"column","name":"Column 1","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns/c-BWoZD1pDLj","display":true,"format":{"type":"text","isArray":false}},{"id":"c-mIEcSkQvey","type":"column","name":"Column
        2","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns/c-mIEcSkQvey","format":{"type":"text","isArray":false}}],"href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns?limit=100"}'
  recorded_at: Fri, 10 Jan 2020 00:04:29 GMT
recorded_with: VCR 5.0.0
