---
http_interactions:
- request:
    method: get
    uri: https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns/c-BWoZD1pDLj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a7-XIGMbQzK1M9xUKhQfl3Vj6nNR24"
    body:
      encoding: UTF-8
      string: '{"id":"c-BWoZD1pDLj","type":"column","name":"Column 1","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4/columns/c-BWoZD1pDLj","display":true,"format":{"type":"text","isArray":false},"parent":{"id":"grid-7wlFDEirg4","type":"table","href":"https://coda.io/apis/v1beta1/docs/Yuypr0WRkq/tables/grid-7wlFDEirg4","browserLink":"https://coda.io/d/_dYuypr0WRkq#_tugrid-7wlFDEirg4","name":"Test
        Table 1"}}'
  recorded_at: Fri, 10 Jan 2020 00:10:40 GMT
recorded_with: VCR 5.0.0
